<div class="login-container">

  <h2>Airline Login ✈</h2>

  <form [formGroup]="loginForm" (ngSubmit)="login()">

    <label>Email</label>
    <input type="email" formControlName="email">

    <div class="error" *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid">
      Valid email required
    </div>

    <label>Password</label>
    <input type="password" formControlName="password">

    <div class="error" *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
      Password required (min 3)
    </div>

    <button type="submit" [disabled]="loading">
      {{loading ? 'Logging...' : 'Login'}}
    </button>

    <div class="error" *ngIf="errorMsg">
      {{errorMsg}}
    </div>

  </form>
</div>
