.login-container{
  width:350px;
  margin:80px auto;
  padding:25px;
  border-radius:10px;
  box-shadow:0 0 10px rgba(0,0,0,0.2);
  background:white;
}

input{
  width:100%;
  padding:8px;
  margin-bottom:10px;
}

button{
  width:100%;
  padding:10px;
  background:black;
  color:white;
  border:none;
}

.error{
  color:red;
  font-size:12px;
  margin-bottom:10px;
}
