.admin-layout{
  display:flex;
  height:100vh;
  font-family:Segoe UI, sans-serif;
  background:#f5f7fb;
}

/* SIDEBAR */
.sidebar{
  width:240px;
  background:#0f172a;
  color:white;
  display:flex;
  flex-direction:column;
  padding:25px 20px;
}

.logo{
  font-size:20px;
  font-weight:600;
  margin-bottom:40px;
}

.sidebar nav{
  display:flex;
  flex-direction:column;
  gap:14px;
}

.sidebar a{
  color:#cbd5e1;
  text-decoration:none;
  padding:12px 14px;
  border-radius:8px;
  transition:.2s;
}

.sidebar a:hover{
  background:#1e293b;
  color:white;
}

.sidebar a.active{
  background:#e11d2e;
  color:white;
}

.logout-btn{
  margin-top:auto;
  padding:12px;
  border:none;
  background:#e11d2e;
  color:white;
  border-radius:8px;
  cursor:pointer;
  font-weight:600;
}

.logout-btn:hover{
  background:#be123c;
}

/* RIGHT CONTENT */
.content{
  flex:1;
  padding:30px;
  overflow:auto;
}
